canvas {
    position:absolute;
    left: 50px;
    top: 50px;
    border: 1px solid black;
}
canvas#graph {
    z-index: 1;
}

canvas#axes {
    z-index: 2;
}
canvas#overlay {
    z-index:3;

}

#popout {
   -moz-box-shadow:    inset 0 0 10px #000000;
   -webkit-box-shadow: inset 0 0 10px #000000;
   box-shadow:         inset 0 0 10px #000000;
   border-radius:    5px;
}